@model IEnumerable<Blog_Zaliczeniowy.Models.Post>
@using Microsoft.AspNetCore.Identity
@using System.Web
@inject UserManager<ApplicationUser> UserManager

@if (Model != null && ViewBag.PostsFound > 0)
{
	foreach (var item in Model)
	{

		<div class="post-card">
			<table style="width: 100%;">
				<tr>
					<th>
						<a asp-action="Details" asp-route-id="@item.Id" class="post-title">
							@item.Title
						</a>
					</th>
					@if (UserManager.GetUserId(User) == item.UserId || User.IsInRole("Administrator"))
					{
						<th style="text-align: right">

							<div class="post-actions">
								@if (ViewBag.WaitingRoom == true && User.IsInRole("Administrator"))
								{
									<a asp-action="Approve" asp-route-id="@item.Id" class="action-btn action-success">Zaakceptuj</a>
								}
								<a asp-action="Edit" asp-route-id="@item.Id" class="action-btn">Edytuj</a>
								<a asp-action="Delete" asp-route-id="@item.Id" class="action-btn action-delete">Usuń</a>
							</div>
						</th>
					}
				</tr>
			</table>



			<div class="post-meta">
				Autor: <a asp-controller="Profile" asp-action="Index" asp-route-userId="@item.UserId">@item.User?.Nickname</a>
				| Data publikacji: @item.CreatedAt.ToString("dd MMM yyyy, HH:mm")
			</div>


			<div class="post-content content-fade">
				@Html.Raw(@item.Content.Replace("&nbsp;", "").Substring(0, Math.Min(item.Content.Replace("&nbsp;", "").Length, 500)))
			</div>
			<a asp-action="Details" asp-route-id="@item.Id" class="read-more">Czytaj dalej...</a>

		</div>
	}
}
else
{
	<p>Nie znaleziono żadnych postów.</p>
}