@model IEnumerable<Blog_Zaliczeniowy.Models.Post>
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@if (Model != null && ViewBag.PostsFound > 0)
{
	foreach (var item in Model)
	{

		<div class="post-card">
			<!-- Tytuł posta, klikalny do szczegółów -->
			<table style="width: 100%;">
				<tr>
					<th>
						<a asp-action="Details" asp-route-id="@item.Id" class="post-title">
							@item.Title
						</a>
					</th>
					@if (UserManager.GetUserId(User) == item.UserId || User.IsInRole("Administrator"))
					{
						<th style="text-align: right">

							<div class="post-actions">
								<a asp-action="Edit" asp-route-id="@item.Id" class="action-btn">Edytuj</a>
								<a asp-action="Delete" asp-route-id="@item.Id" class="action-btn action-delete">Usuń</a>
							</div>
						</th>
					}
				</tr>
			</table>


			<!-- Autor i data publikacji -->
			<div class="post-meta">
				Autor: @item.User?.Nickname
				| Data publikacji: @item.CreatedAt.ToString("dd MMM yyyy, HH:mm")
			</div>

			<!-- Treść posta -->
			@if (item.Content != null && item.Content.Length > 500)
			{
				<div class="post-content content-fade">
					@item.Content.Substring(0, 700)
				</div>
				<a asp-action="Details" asp-route-id="@item.Id" class="read-more">Czytaj dalej...</a>
			}
			else
			{
				<div class="post-content">
					@item.Content
				</div>
			}
		</div>
	}
}
else
{
	<p>Nie znaleziono żadnych postów.</p>
}