@model Blog_Zaliczeniowy.Models.Post
@using Microsoft.AspNetCore.Identity
@using System.Web
@inject UserManager<ApplicationUser> UserManager

<div class="container" style="word-wrap:break-word">

<table width="100%">
    <tr>
	    <th><h4>@Model.Title</h4></th>
	    @if (UserManager.GetUserId(User) == @Model.UserId || User.IsInRole("Administrator"))
	    {
	    <th style="text-align: right">
		    <div class="post-actions">
			    <a asp-action="Edit" asp-route-id="@Model.Id" class="action-btn">Edytuj</a>
			    <a asp-action="Delete" asp-route-id="@Model.Id" class="action-btn action-delete">Usuń</a>
		    </div>
	    </th>
	    }
    </tr>
</table>
<p><strong>Autor:</strong> @Model.User.Nickname</p>
<p><strong>Data publikacji:</strong> @Model.CreatedAt.ToString("MMMM dd, yyyy")</p>
<p>@Html.Raw(@Model.Content)</p>

<hr />

<h3>Komentarze</h3>

@foreach (var comment in Model.Comments.Where(c => c.ParentCommentId == null))
{
    <partial name="_CommentPartial.cshtml" for="@comment" />
}

<h4>Zostaw komentarz:</h4>
<form asp-action="AddComment" asp-route-postId="@Model.Id" method="post">
    <div class="form-group">
        
        @if (!User.Identity.IsAuthenticated){
            <textarea name="commentContent" rows="4" class="form-control" required placeholder="Zaloguj się, aby skomentować" disabled></textarea>
            @:</div>
        } else {
            <textarea name="commentContent" rows="4" class="form-control" required placeholder="Napisz komentarz"></textarea>
            @:</div>
            <button type="submit" class="btn btn-primary">Wyślij</button>
        }
</form>
</div>