@model Blog_Zaliczeniowy.Models.Post

<h2>@Model.Title</h2>
<p><strong>Autor:</strong> @Model.User.Nickname</p>
<p><strong>Data publikacji:</strong> @Model.CreatedAt.ToString("MMMM dd, yyyy")</p>
<p>@Model.Content</p>

<hr />

<h3>Komentarze</h3>

@foreach (var comment in Model.Comments.Where(c => c.ParentCommentId == null))
{
    <partial name="_CommentPartial.cshtml" for="@comment" />
}

<!-- Formularz do dodawania nowego komentarza -->
<h4>Zostaw komentarz:</h4>
<form asp-action="AddComment" asp-route-postId="@Model.Id" method="post">
    <div class="form-group">
        
        @if (!User.Identity.IsAuthenticated){
            <textarea name="commentContent" rows="4" class="form-control" required placeholder="Zaloguj się, aby skomentować" disabled></textarea>
            @:</div>
        } else {
            <textarea name="commentContent" rows="4" class="form-control" required placeholder="Napisz komentarz"></textarea>
            @:</div>
            <button type="submit" class="btn btn-primary">Wyślij</button>
        }
</form>